# GNUPG
.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf

# NVIM
.config/nvim/lazy-lock.json

# Random
.DS_Store
.config/raycast
.config/argocd
.config/btop
.config/gh
.config/stripe
.config/wireshark
.config/zed
.config/ILSpy.xml
