[commit]
	gpgSign = true
[user]
	name = Christopher Yovanovitch
	email = yovano_c@outlook.com
	signingkey = 0266EAC0A0CCF969E35FB8A2D351227705396FF0
[core]
	editor = code-insiders --wait
[tag]
	gpgSign = true
    forceSignAnnotated = true
[alias]
    uncommit = reset --soft HEAD^
[pull]
    rebase = true
[init]
    defaultBranch = main
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[push]
	autoSetupRemote = true
[gpg]
	program = gpg
