# GNUPG
.gnupg
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf

# packer
.config/packer

.DS_Store

# Random
.DS_Store
.cachebro

# Configurations
.config/configstore
.config/raycast
.config/raycast-x
.config/argocd
.config/btop
.config/gh
.config/stripe
.config/wireshark
.config/zed
.config/ILSpy.xml
.config/github-copilot
.config/flutter
.config/neonctl
.config/better-auth
.config/uv
.config/mole
.config/fish
.config/monocle
.config/tokscale

# opencode

.config/opencode/*
!.config/opencode/AGENTS.md
!.config/opencode/skills
!.config/opencode/plugins
!.config/opencode/opencode.jsonc
!.config/opencode/tui.jsonc
!.config/opencode/oh-my-openagent.jsonc
